<div>
    <h2 id="page-heading">
        <span jhiTranslate="crownApp.supplyPoint.home.title">Supply Points</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-point" [routerLink]="['/supply-point/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="crownApp.supplyPoint.home.createLabel">
            Create a new Supply Point
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'crownApp.supplyPoint.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="supplyPoints?.length === 0">
        <span jhiTranslate="crownApp.supplyPoint.home.notFound">No supplyPoints found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="supplyPoints?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="crownApp.supplyPoint.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="crownApp.supplyPoint.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="primaryContactName"><span jhiTranslate="crownApp.supplyPoint.primaryContactName">Primary Contact Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zip"><span jhiTranslate="crownApp.supplyPoint.zip">Zip</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phonenumber"><span jhiTranslate="crownApp.supplyPoint.phonenumber">Phonenumber</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="latx"><span jhiTranslate="crownApp.supplyPoint.latx">Latx</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longy"><span jhiTranslate="crownApp.supplyPoint.longy">Longy</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="crownApp.supplyPoint.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="state"><span jhiTranslate="crownApp.supplyPoint.state">State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isDistributor"><span jhiTranslate="crownApp.supplyPoint.isDistributor">Is Distributor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isHealthcare"><span jhiTranslate="crownApp.supplyPoint.isHealthcare">Is Healthcare</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hasSterilization"><span jhiTranslate="crownApp.supplyPoint.hasSterilization">Has Sterilization</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priority"><span jhiTranslate="crownApp.supplyPoint.priority">Priority</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notes"><span jhiTranslate="crownApp.supplyPoint.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let supplyPoint of supplyPoints ;trackBy: trackId">
                    <td><a [routerLink]="['/supply-point', supplyPoint.id, 'view']">{{ supplyPoint.id }}</a></td>
                    <td>{{ supplyPoint.name }}</td>
                    <td>{{ supplyPoint.address }}</td>
                    <td>{{ supplyPoint.primaryContactName }}</td>
                    <td>{{ supplyPoint.zip }}</td>
                    <td>{{ supplyPoint.phonenumber }}</td>
                    <td>{{ supplyPoint.latx }}</td>
                    <td>{{ supplyPoint.longy }}</td>
                    <td>{{ supplyPoint.city }}</td>
                    <td>{{ supplyPoint.state }}</td>
                    <td>{{ supplyPoint.isDistributor }}</td>
                    <td>{{ supplyPoint.isHealthcare }}</td>
                    <td>{{ supplyPoint.hasSterilization }}</td>
                    <td>{{ supplyPoint.priority }}</td>
                    <td>{{ supplyPoint.notes }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/supply-point', supplyPoint.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/supply-point', supplyPoint.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(supplyPoint)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
