<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-supply-point-heading" jhiTranslate="crownApp.supplyPoint.home.createOrEditLabel">Create or edit a Supply Point</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.primaryContactName" for="field_primaryContactName">Primary Contact Name</label>
                    <input type="text" class="form-control" name="primaryContactName" id="field_primaryContactName"
                           formControlName="primaryContactName"/>
                    <div *ngIf="editForm.get('primaryContactName')!.invalid && (editForm.get('primaryContactName')!.dirty || editForm.get('primaryContactName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryContactName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.zip" for="field_zip">Zip</label>
                    <input type="text" class="form-control" name="zip" id="field_zip"
                           formControlName="zip"/>
                    <div *ngIf="editForm.get('zip')!.invalid && (editForm.get('zip')!.dirty || editForm.get('zip')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('zip')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.phonenumber" for="field_phonenumber">Phonenumber</label>
                    <input type="text" class="form-control" name="phonenumber" id="field_phonenumber"
                           formControlName="phonenumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.latx" for="field_latx">Latx</label>
                    <input type="number" class="form-control" name="latx" id="field_latx"
                           formControlName="latx"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.longy" for="field_longy">Longy</label>
                    <input type="number" class="form-control" name="longy" id="field_longy"
                           formControlName="longy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.isDistributor" for="field_isDistributor">Is Distributor</label>
                    <input type="checkbox" class="form-control" name="isDistributor" id="field_isDistributor"
                           formControlName="isDistributor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.isHealthcare" for="field_isHealthcare">Is Healthcare</label>
                    <input type="checkbox" class="form-control" name="isHealthcare" id="field_isHealthcare"
                           formControlName="isHealthcare"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.hasSterilization" for="field_hasSterilization">Has Sterilization</label>
                    <input type="checkbox" class="form-control" name="hasSterilization" id="field_hasSterilization"
                           formControlName="hasSterilization"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.priority" for="field_priority">Priority</label>
                    <input type="number" class="form-control" name="priority" id="field_priority"
                           formControlName="priority"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crownApp.supplyPoint.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
