/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}


/* ==========================================================================
Landing Page styles
========================================================================== */
.subscribe-btn {
  background-color: #ffffff !important;
  border: none !important;
  color: black;
  border-radius: 20px;
}
.subscribe-btn:hover {
  color: rgb(70, 152, 220) !important;
}

.subscribe-input {
  border-radius: 7px;
  font-size: 20px;
}
.app-container {
  padding-top: 0 !important;
}
.header-btn {
  background-color: #ff7c48 !important;
  border: none !important;
}
.cw-jumb {
  background-image: url('../home/5816.png');
}
.cw-about-us-footer{
  display: flex;
  justify-content: flex-end;
}
.cw-footer-logo{
  width: 50%;
}
.text-gray-1{
  color: #BFBFBF !important;
  &:hover{
    color: #FF7C48 !important;
  }
}
.text-gray-2{
  color: #707070 !important;
}

.cw-why-us-card{
  border-color: #FF7C48 !important;
  border-width: medium;
  font-weight: 900;
  font-size: 20px;
}
