.auth {
  box-shadow: -1px -0.5px 5px #00000038;
  display: inline-block;
  font-size: 14px;
  padding: 16px;

  input {
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    border: 2px solid #ccc;
    box-sizing: border-box;
    color: #c6c6c6;
    display: inline-block;
    font-size: 14px;
    margin: 8px 0;
    opacity: 0.6;
    padding: 12px 20px;
    width: 100%;
  }

  input[type='checkbox'] {
    height: 13px;
    width: 13px;
  }

  .buttons {
    border-bottom: 1px solid #c6c6c6;
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;

    .button-container {
      flex: 1;

      button {
        background-color: white;
        border: none;
        color: black;
        cursor: pointer;
        margin: 8px 0;
      }

      .signin-btn {
        color: #ff7c48;
      }
    }

    .button-container:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }

  .strenth {
    color: #c6c6c6;
    margin: 8px 0;
    text-align: right;

    span {
      background: #c6c6c6 0% 0% no-repeat padding-box;
      border-radius: 6px;
      display: inline-block;
      height: 4px;
      margin-right: 5px;
      opacity: 1;
      vertical-align: middle;
      width: 15px;
    }
  }

  .login-btn {
    background: #ff7c48 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 7px 20px #00000024;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 47px;
    margin: 8px 0;
    padding: 10px 30px;
    width: 100%;
  }

  .terms {
    color: #707070;
    opacity: 1;

    strong {
      text-decoration: underline;
    }
  }
}

.popover {
  max-width: 370px;
}
